<app-header></app-header>
<form>
    <h1>Registrar</h1>
    <label>Nombres</label><br>
    <input class="nom" type="text" [(ngModel)]="name" name="Nombre"><br>
    <label>Apellido</label><br>
    <input class="nom" type="text" [(ngModel)]="apellido" name="Apellido"><br>
    <label>email</label>
    <input type="text" [(ngModel)]="email" name="email">
    <label>pass</label>
    <input type="password" [(ngModel)]="pass" name="pass">    
    <button (click)="guardar()">Guardar</button>
</form>    